@*@QnSGeneratedCode*@
@page "/Order"
@inherits Pages.DataGridPage
@using Radzen;
@using TModel = QnSTradingCompany.BlazorApp.Models.Persistence.App.Order;

@if (MenuItems.Count > 0)
{
    <RadzenMenu Click="@(args => OnMenuItemClick(args))">
        <RadzenMenuItem Text="@Translate(ComponentName)" Icon="grid_on" Style="z-index: 1000;">
            @foreach (var item in MenuItems)
            {
                <RadzenMenuItem Text="@item.Text" Value="@item.Value" Path="@item.Path" Icon="@item.Icon"></RadzenMenuItem>
            }
        </RadzenMenuItem>
    </RadzenMenu>
}
else
{
    <h2>@Translate(ComponentName)</h2>
}

@if (CanRender)
{
	<QnSTradingCompany.BlazorApp.Shared.Components.Persistence.App.OrderDataGrid DataGridHandler="DataGridHandler" />
}
else
{
	<QnSTradingCompany.BlazorApp.Shared.Components.LoadingIndicator />
}
