@*@QnSGeneratedCode*@
@inherits FieldSetComponent
@using Radzen;
@using TModel = QnSTradingCompany.BlazorApp.Models.Persistence.Account.ActionLog;

@if (CanFieldCreate(nameof(EditModel.IdentityId)))
{
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="@TranslateFor(nameof(EditModel.IdentityId))" />
        </div>
        <div class="col-md-8" style="margin-top: 16px;">
            <RadzenNumeric TValue="Int32" @bind-Value="@EditModel.IdentityId" Name="@TranslateFor(nameof(EditModel.IdentityId))" Style="width: 100%;" />
        </div>
    </div>
}

@if (CanFieldCreate(nameof(EditModel.Time)))
{
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="@TranslateFor(nameof(EditModel.Time))" />
        </div>
        <div class="col-md-8" style="margin-top: 16px;">
            <RadzenDatePicker TValue="DateTime" @bind-Value="@EditModel.Time" DateFomat="d" Name="@TranslateFor(nameof(EditModel.Time))" Style="width: 100%;" />
        </div>
    </div>
}

@if (CanFieldCreate(nameof(EditModel.Subject)))
{
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="@TranslateFor(nameof(EditModel.Subject))" />
        </div>
        <div class="col-md-8" style="margin-top: 16px;">
            <RadzenTextBox @bind-Value="@EditModel.Subject" MaxLength="-1" Name="@TranslateFor(nameof(EditModel.Subject))" Style="width: 100%;" />
        </div>
    </div>
}

@if (CanFieldCreate(nameof(EditModel.Action)))
{
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="@TranslateFor(nameof(EditModel.Action))" />
        </div>
        <div class="col-md-8" style="margin-top: 16px;">
            <RadzenTextBox @bind-Value="@EditModel.Action" MaxLength="-1" Name="@TranslateFor(nameof(EditModel.Action))" Style="width: 100%;" />
        </div>
    </div>
}

@if (CanFieldCreate(nameof(EditModel.Info)))
{
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="@TranslateFor(nameof(EditModel.Info))" />
        </div>
        <div class="col-md-8" style="margin-top: 16px;">
            <RadzenTextBox @bind-Value="@EditModel.Info" MaxLength="-1" Name="@TranslateFor(nameof(EditModel.Info))" Style="width: 100%;" />
        </div>
    </div>
}

