@*@QnSGeneratedCode*@
@inherits FieldSetComponent
@using Radzen;
@using TModel = QnSTradingCompany.BlazorApp.Models.Persistence.Account.User;

@if (CanFieldCreate(nameof(EditModel.IdentityId)))
{
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="@TranslateFor(nameof(EditModel.IdentityId))" />
        </div>
        <div class="col-md-8" style="margin-top: 16px;">
            <RadzenNumeric TValue="Int32" @bind-Value="@EditModel.IdentityId" Name="@TranslateFor(nameof(EditModel.IdentityId))" Style="width: 100%;" />
        </div>
    </div>
}

@if (CanFieldCreate(nameof(EditModel.Firstname)))
{
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="@TranslateFor(nameof(EditModel.Firstname))" />
        </div>
        <div class="col-md-8" style="margin-top: 16px;">
            <RadzenTextArea @bind-Value="@EditModel.Firstname" MaxLength="64" Name="@TranslateFor(nameof(EditModel.Firstname))" Style="width: 100%;" />
        </div>
    </div>
}

@if (CanFieldCreate(nameof(EditModel.Lastname)))
{
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="@TranslateFor(nameof(EditModel.Lastname))" />
        </div>
        <div class="col-md-8" style="margin-top: 16px;">
            <RadzenTextArea @bind-Value="@EditModel.Lastname" MaxLength="64" Name="@TranslateFor(nameof(EditModel.Lastname))" Style="width: 100%;" />
        </div>
    </div>
}

