@*@QnSCodeCopy*@
@page "/changepasswordfor"
@inherits Pages.ModelPage

<h1>@Translate(ComponentName)</h1>

@if (CanRender)
{
    var groupCss = "form-group";
    var ctrlCss = "form-control";
    var labelCss = "control-label";
    var labelStyle = "margin-bottom: 10px;";

    <div class="row">
        <div class="col-md-12">
            <RadzenFieldset Style="width:600px; margin-bottom: 50px;">
                <HeaderTemplate>
                    <h5>@Translate("You are logged in as") <strong>@FormModel.UserName</strong></h5>

                </HeaderTemplate>
                <ChildContent>
                    <EditForm EditContext="@EditContext">
                        <DataAnnotationsValidator />

                        <div class="@groupCss">
                            <RadzenLabel Text="@Translate(nameof(FormModel.Email))" Style="@labelStyle" class="@labelCss" />
                            <RadzenTextBox @bind-Value="FormModel.Email" Placeholder="@Translate(nameof(FormModel.Email))" class="@ctrlCss" />
                            <ValidationMessage For="@(() => FormModel.Email)" />
                        </div>

                        <div class="@groupCss">
                            <RadzenLabel Text="@Translate(nameof(FormModel.NewPassword))" Style="@labelStyle" class="@labelCss" />
                            <RadzenPassword @bind-Value="FormModel.NewPassword" Placeholder="@Translate(nameof(FormModel.NewPassword))" class="@ctrlCss" />
                            <ValidationMessage For="@(() => FormModel.NewPassword)" />
                        </div>

                        <div class="@groupCss">
                            <RadzenLabel Text="@Translate(nameof(FormModel.ConfirmPassword))" Style="@labelStyle" class="@labelCss" />
                            <RadzenPassword @bind-Value="FormModel.ConfirmPassword" Placeholder="@Translate(nameof(FormModel.ConfirmPassword))" class="@ctrlCss" />
                            <ValidationMessage For="@(() => FormModel.ConfirmPassword)" />
                        </div>

                        <RadzenButton Text="@Translate("ChangePasswordFor")" Click="@OnSubmitAsync" class="btn-block" />
                        <RadzenLabel Text="@Translate(Error)" Style="margin-top: 10px;" class="text-danger" />
                    </EditForm>
                </ChildContent>
            </RadzenFieldset>
        </div>
    </div>
}
