@*@QnSGeneratedCode*@
@inherits FieldSetComponent
@using Radzen;
@using TModel = QnSTradingCompany.BlazorApp.Models.Persistence.MasterData.Product;

@if (CanFieldCreate(nameof(EditModel.Number)))
{
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="@TranslateFor(nameof(EditModel.Number))" />
        </div>
        <div class="col-md-8" style="margin-top: 16px;">
            <RadzenTextBox @bind-Value="@EditModel.Number" MaxLength="8" Name="@TranslateFor(nameof(EditModel.Number))" Style="width: 100%;" />
            <RadzenRequiredValidator Text="@TranslateFor(nameof(EditModel.Number) + " is required")" Component="@TranslateFor(nameof(EditModel.Number))" Popup="false" />
        </div>
    </div>
}

@if (CanFieldCreate(nameof(EditModel.Name)))
{
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="@TranslateFor(nameof(EditModel.Name))" />
        </div>
        <div class="col-md-8" style="margin-top: 16px;">
            <RadzenTextArea @bind-Value="@EditModel.Name" MaxLength="256" Name="@TranslateFor(nameof(EditModel.Name))" Style="width: 100%;" />
            <RadzenRequiredValidator Text="@TranslateFor(nameof(EditModel.Name) + " is required")" Component="@TranslateFor(nameof(EditModel.Name))" Popup="false" />
        </div>
    </div>
}

@if (CanFieldCreate(nameof(EditModel.Price)))
{
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="@TranslateFor(nameof(EditModel.Price))" />
        </div>
        <div class="col-md-8" style="margin-top: 16px;">
            <RadzenNumeric TValue="Decimal" @bind-Value="@EditModel.Price" Name="@TranslateFor(nameof(EditModel.Price))" Style="width: 100%;" />
        </div>
    </div>
}

