@*@QnSGeneratedCode*@
@inherits FieldSetComponent
@using Radzen;
@using TModel = QnSTradingCompany.BlazorApp.Models.Persistence.App.Condition;

@if (CanFieldCreate(nameof(EditModel.ProductId)))
{
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="@TranslateFor(nameof(EditModel.ProductId))" />
        </div>
        <div class="col-md-8" style="margin-top: 16px;">
            <RadzenNumeric TValue="Int32" @bind-Value="@EditModel.ProductId" Name="@TranslateFor(nameof(EditModel.ProductId))" Style="width: 100%;" />
        </div>
    </div>
}

@if (CanFieldCreate(nameof(EditModel.CustomerId)))
{
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="@TranslateFor(nameof(EditModel.CustomerId))" />
        </div>
        <div class="col-md-8" style="margin-top: 16px;">
            <RadzenNumeric TValue="Int32" @bind-Value="@EditModel.CustomerId" Name="@TranslateFor(nameof(EditModel.CustomerId))" Style="width: 100%;" />
        </div>
    </div>
}

@if (CanFieldCreate(nameof(EditModel.ConditionType)))
{
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="@TranslateFor(nameof(EditModel.ConditionType))" />
        </div>
        <div class="col-md-8" style="margin-top: 16px;">
            <RadzenDropDown TValue="QnSTradingCompany.Contracts.Modules.Common.ConditionType" @bind-Value="@EditModel.ConditionType" Data="@(new object[] {new { Value=QnSTradingCompany.Contracts.Modules.Common.ConditionType.PieceDiscountRelative, Text="PieceDiscountRelative" },new { Value=QnSTradingCompany.Contracts.Modules.Common.ConditionType.PieceDiscountAbsolute, Text="PieceDiscountAbsolute" },new { Value=QnSTradingCompany.Contracts.Modules.Common.ConditionType.ValueDiscountRelative, Text="ValueDiscountRelative" },new { Value=QnSTradingCompany.Contracts.Modules.Common.ConditionType.ValueDiscountAbsolute, Text="ValueDiscountAbsolute" }})" ValueProperty="Value" TextProperty="Text" Name="@TranslateFor(nameof(EditModel.ConditionType))" Style="width: 100%;" />
        </div>
    </div>
}

@if (CanFieldCreate(nameof(EditModel.Value)))
{
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="@TranslateFor(nameof(EditModel.Value))" />
        </div>
        <div class="col-md-8" style="margin-top: 16px;">
            <RadzenTextArea @bind-Value="@EditModel.Value" MaxLength="64" Name="@TranslateFor(nameof(EditModel.Value))" Style="width: 100%;" />
            <RadzenRequiredValidator Text="@TranslateFor(nameof(EditModel.Value) + " is required")" Component="@TranslateFor(nameof(EditModel.Value))" Popup="false" />
        </div>
    </div>
}

@if (CanFieldCreate(nameof(EditModel.Note)))
{
    <div class="row">
        <div class="col-md-4 align-items-center d-flex">
            <RadzenLabel Text="@TranslateFor(nameof(EditModel.Note))" />
        </div>
        <div class="col-md-8" style="margin-top: 16px;">
            <RadzenTextArea @bind-Value="@EditModel.Note" MaxLength="1024" Name="@TranslateFor(nameof(EditModel.Note))" Style="width: 100%;" />
        </div>
    </div>
}

